@font-face {font-family:"Lato Bold";
  src:url("assets/fonts/Lato-Bold.eot?") format("eot"),
  url("assets/fonts/Lato-Bold.woff") format("woff"),
  url("assets/fonts/Lato-Bold.ttf") format("truetype"),
  url("assets/fonts/Lato-Bold.svg#Lato-Bold") format("svg");
}

@font-face {font-family:"Maven Pro Regular";
  src:url("assets/fonts/MavenPro-Regular.eot?") format("eot"),
  url("assets/fonts/MavenPro-Regular.woff") format("woff"),
  url("assets/fonts/MavenPro-Regular.ttf") format("truetype"),
  url("assets/fonts/MavenPro-Regular.svg#MavenProRegular") format("svg");
}

@font-face {font-family:"Lato Regular";
  src:url("assets/fonts/Lato-Regular.eot?") format("eot"),
  url("assets/fonts/Lato-Regular.woff") format("woff"),
  url("assets/fonts/Lato-Regular.ttf") format("truetype"),
  url("assets/fonts/Lato-Regular.svg#Lato-Regular") format("svg");
}

*{
    margin: 0;
    padding: 0;
}
  
body {
  width: 63.75rem;
  margin: 0;
}

header{
  height: 3.9375rem;
  background-color: #323232;
}

.topmenu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.topmenu li{
  font-family: 'Lato Bold', sans-serif;
  font-size: 0.5rem;
  text-transform: uppercase;
  list-style-type: none;
  margin-top: 2rem;
  color: #fff;
}
.topmenu li:nth-child(4){
  margin-top: 0.625rem;
}

.topmenu li > a{
  color: #fff;
  text-decoration: none;
}

.topmenu li a:hover{
  border-bottom: 0.0625rem solid #fff;
}

.topmenu li:hover:nth-child(4) a{
  border-bottom: none;
}

.topmenu li:nth-child(1) a{
  color: #2eb398;
}

.topmenu li:nth-child(2) {
  padding-left: 0.6875rem;
  padding-right: 0.6875rem;
}

.topmenu li:nth-child(3) {
  padding-right: 2.5rem;
}

.topmenu li:nth-child(5) {
  padding-left: 2.5rem;
}

.topmenu li:nth-child(6) {
  padding-left: 0.6875rem;
  padding-right: 0.6875rem;
}

img{
  width: 4rem;
  height: 3.4375rem;
}

.trangle{
  margin: -0.625rem auto 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.6875rem 2.8125rem 0 2.8125rem;
  border-color: #323232 transparent transparent transparent;
  z-index: 100;
}

.slider{
  height: 43.375rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.wrapper-slider{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.first-line{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.second-line{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: -2.8125rem;
}

.therd-line{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: -2.8125rem;
}

.wrapper_hexagon{
  padding: 0 0.3125rem;
}

.hexagon{
  position: relative;
  width: 11.25rem; 
  height: 6.4375rem;
  margin: 3.1875rem 0;
  background-size: auto 12.9375rem;
  background-position: center;
}

.hexagon1{
  background-image: url(assets/Layer33.jpeg);
}

.hexagon2{
  background-image: url(assets/Layer31.jpeg);
}

.hexagon3{
  background-image: url(assets/Layer34.jpeg);
}

.hexagon4{
  background-image: url(assets/Layer35.jpeg);
}

.hexagon5{
  background-image: url(assets/Layer36.jpeg);
}

.hexagon6{
  background-image: url(assets/Layer44.jpeg);
}

.hexagon7{
  background-image: url(assets/Layer37.jpeg);
}

.hexagon8{
  background-image: url(assets/Layer38.jpeg);
}

.hexagon9{
  background-image: url(assets/Layer39.jpeg);
}

.hexagon10{
  background-image: url(assets/Layer40.jpeg);
}

.hexagon11{
  background-image: url(assets/Layer41.jpeg);
}

.hexagon12{
  background-image: url(assets/Layer43.jpeg);
}

.hexagon13{
  background-image: url(assets/Layer42.jpeg);
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 7.9375rem;
  height: 7.9375rem;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 1.625rem;
}

.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 11.25rem;
  height: 6.4375rem;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -3.9375rem;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -3.9375rem;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 11.25rem;
  height: 6.4375rem;
  z-index: 2;
  background: inherit;
}

.radio-toolbar{
  display: flex;
  flex-direction: row;
  margin: 3.75rem auto 0 1.6875rem;
}

input{
  display: none;
}

.button{
  width: 0.375rem;
  height: 0.375rem;
  margin: 0 0.1875rem;
  background: #ddd2c5;
  cursor: pointer;
  transition: ease .3s;
}

.button:hover{
  outline: 1px solid #8b8784;
}

#i1:checked ~ .radio-toolbar #dot1,
#i2:checked ~ .radio-toolbar #dot2,
#i3:checked ~ .radio-toolbar #dot3,
#i4:checked ~ .radio-toolbar #dot4,
#i5:checked ~ .radio-toolbar #dot5,
#i6:checked ~ .radio-toolbar #dot6{
  background-color: #8b8784;
}

.line{
  width: 60rem;
  border-bottom: 0.0625rem solid #e4e9eb;
  margin: 0.6875rem auto 0 auto;
}

.about-wrapper{
  display: flex;
  height: 21.3125rem;
  background-color: #2eb398;
}

.wall{
  height: 19.75rem;
  width: 51.25rem;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-left: 0.0625rem solid #219d84;
  border-right: 0.0625rem solid #219d84;
}

.about-photo-wrapper{
  padding: 4.25rem 1.25rem 0 1.25rem;
}

.about-photo{
  background-image: url(assets/image.jpeg);
}

.about{
  align-content: center;
}

h1{
  font-family: 'Maven Pro Regular', sans-serif;
  text-align: justify;
  font-size: 1.875rem;
  font-weight: normal;
  color: #fff;
  padding: 4.25rem 0 0.75rem 0;
}

h3{
  font-family: 'Maven Pro Regular', sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  color: #20816d;
  padding-bottom: 1.5rem;
}

.about p{
  font-family: 'Lato Regular', sans-serif;
  text-align: justify;
  font-size: 0.75rem;
  letter-spacing: 2;
  font-weight: 100;
  color: #fff;
  padding-right: 1.25rem;
}

.social{
  
}